@font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-Regular.ttf);
}

.main-header {
    max-width: 1280px;
    margin: 15px;
    height: 73px;
    border-radius: 90px;
    padding-left: 81px;
    padding-right: 240px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    color: #ffffff;
    font-family: Poppins;
}

.screen {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity .6s;
}

.menu-open .screen {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 1500px) {
    .main-header {
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.main-logo {
    font-size: 1.375rem;
    font-weight: 500;
    text-transform: uppercase;
}

.main-menu {
    font-size: 1.3125rem;
    font-weight: 500;
}

.main-menu li {
    margin-left: 40px;
}

.active {
    width: 116px;
    height: 40px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
    color: #21ac91;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.picture {
    margin: 0 0 20px 20px;
    flex-basis: 17%;
    cursor: pointer;
    opacity:0.67;
}

.picture:hover{
    opacity:1;
}

@media (max-width: 1100px) {
    .picture {
        flex-basis: 20%;
    }
}

.picture>* {
    border-radius: 10px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.gallery-container {
    max-width: 1280px;
    margin: auto;
    border-radius: 10px;
    background-color: #383b42;
    padding: 40px;
    margin: 15px;
}

.second-nav {
    width: 100%;
}

.second-nav>*:not(:first-child) {
    margin-left: 15px;
}

.second-nav input {
    max-width: 541px;
    height: 58px;
    border-radius: 29px;
    background-color: #22252c;
    color: #6f7075;
    padding-left: 50px;
    font-size: 1.3125rem;
    font-weight: 300;
}

.keyWords {
    max-width: 536px;
    height: 50px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #87898d;
    color: #fcfcfc;
    font-weight: 30;
    padding-left: 20px;
}

.more {
    width: 92px;
    height: 36px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    background-color: #fefefe;
    color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    font-size: 1.125rem;
    font-weight: 300;
}

.gallery-content {
    margin-top: 50px;
    margin-left: 50px;
}

.mobile-menu {
    display: none;
    width: 38px;
    height: 38px;
    color: #2ab580;
    border-radius: 999px;
}

.menu-open .main-menu {
    transform: translate(0, 0);
    display: block;
}

@media (max-width: 1100px) {
    .gallery-content {
        margin-left: 15px;
    }
}

@media (max-width: 750px) {
    .main-header {
        padding-right: 20px;
        padding-left: 20px;
        justify-content: space-between;
    }
    .main-menu {
        text-align: center;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #292929;
        box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
        width: 270px;
        transform: translate(100%, 0);
        transition: transform .6s;
        z-index:100;
    }
    .main-menu li {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top:30px;
        margin-bottom:30px;
    }
    .mobile-menu {
        display: block;
    }
    .second-nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .second-nav input {
        width: 100%;
        margin-bottom: 20px;
    }
    .more{
        margin-top: 17px;
    }
    .gallery-container {
        max-width: 650px;
        padding: 13px;
    }
    .picture {
        flex-basis: 42%;
    }
    .picture:nth-child(odd) {
        margin-left:0px
      }
    .gallery-content {
        margin-top: 20px;
        margin-left: 0;
        justify-content: center;
    }
}